:markdown

  ## Requirements

  * Degree in graphic design or related field.
  * 2-3 years experience in marketing, web and print design, and branding is preferred.
  * Experience with web design and best practices (knowing the limitations and possibilities while keeping the user in mind)
  * Experience with print design and best practices (CMYK and Pantone colors, prepping files for print)
  * Able to create anything from concept and mockups to pixel-perfect work and iterate quickly
  * Be able to create exciting marketing materials
  * Experience with web design and its limitations and possibilities
  * Experience creating custom icons for the web.
  * Have an understanding of good UX
  * Strong conceptual and user-experience focused mindset.
  * Able to work in small, concrete and practical iterations. GitLab has a very short release cycle, you need to be able to keep up
  * Comfortable working very collaboratively on projects, as well as independently.
  * Illustration experience is a plus.
  * Experience with HTML / CSS is also a plus.
  * You share our [values](/handbook/values), and work in accordance with those values.
